# Android #
/Android/*.iml
/Android/.gradle
/Android/local.properties
/Android/.idea/workspace.xml
/Android/.idea/libraries
/Android/.DS_Store
/Android/build
/Android/captures
/Android/.externalNativeBuild
/Android/local.properties


# Ionic #
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/Ionic/iWasThere/*~
/Ionic/iWasThere/*.sw[mnpcod]
/Ionic/iWasThere/*.log
/Ionic/iWasThere/*.tmp
/Ionic/iWasThere/*.tmp.*
/Ionic/iWasThere/log.txt
/Ionic/iWasThere/*.sublime-project
/Ionic/iWasThere/*.sublime-workspace
/Ionic/iWasThere/.vscode/
/Ionic/iWasThere/npm-debug.log*

/Ionic/iWasThere/.idea/
/Ionic/iWasThere/.sass-cache/
/Ionic/iWasThere/.tmp/
/Ionic/iWasThere/.versions/
/Ionic/iWasThere/coverage/
/Ionic/iWasThere/dist/
/Ionic/iWasThere/node_modules/
/Ionic/iWasThere/tmp/
/Ionic/iWasThere/temp/
/Ionic/iWasThere/hooks/
/Ionic/iWasThere/platforms/
/Ionic/iWasThere/plugins/
/Ionic/iWasThere/plugins/android.json
/Ionic/iWasThere/plugins/ios.json
/Ionic/iWasThere/www/
/Ionic/iWasThere/$RECYCLE.BIN/

/Ionic/iWasThere/.DS_Store
/Ionic/iWasThere/Thumbs.db
/Ionic/iWasThere/UserInterfaceState.xcuserstate
