<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iwasthere.android.ime.com.iwasthere">

    <!-- To auto-complete the email text field in the login form with the user's emails -->


    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- QR-Code permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--
    <activity
        android:name="com.google.zxing.client.android.CaptureActivity"
        android:screenOrientation="landscape" >
    </activity>
    -->

    <activity
        android:name="com.journeyapps.barcodescanner.CaptureActivity"
        android:screenOrientation="portrait"
        tools:replace="screenOrientation" />

    <!-- Bluetooh permission -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeminarListActivity"
            android:label="@string/title_activity_seminar_list"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddSeminarActivity"
            android:label="@string/title_activity_add_seminar"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".BluetoothActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AttendeesListActivity"
            android:label="@string/title_attendees_list"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".StudentConfirmationActivity"
            android:label="Send Confirmation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".TeacherConfirmationActivity"
            android:label="Confirm student's presence"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".TextConfirmationActivity"
            android:label="Send pdf confirmation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".QrActivity" />

    </application>

</manifest>